Player/Service References/ServiceReference/LotoService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deposit" type="xs:double" />
      <xs:element minOccurs="0" name="Number1" type="xs:int" />
      <xs:element minOccurs="0" name="Number2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
</xs:schema>